<%= render "share/header" %>

<div class="spending-new-main">

  <div class="spending-form">
    <h2>支出登録</h2>
    <%= form_with(model:@spending, url:spendings_path, local: true) do |f| %>
      <%= render "share/error_messages", model:@spending, model:f.object %>

      <div class="field">
        <%=f.label :ジャンル %>
        <span class="sign_up-label">必須</span><br />
        <%= f.collection_select(:spending_category_id, SpendingCategory.all, :id, :name, {}, {class:"spending-select-box"}) %>
      </div>

      <div class="field">
        <%=f.label :金額 %>
        <span class="sign_up-label">必須</span><br />
        <%= f.text_field :price, class:"spending-field" %>
      </div>

      <div class="action">
        <%= f.submit "支出登録", class:"spending-submit-btn" %>
      </div>
    <% end %>
  </div>

  <div class="spending-back-root-path">
    <%= link_to "トップページ", root_path %>
  </div>

</div>

<%= render "share/footer" %>