<%= render "share/header" %>

<div class="spending-new-main">
<%# cssはspendingのcss流用 %>

  <div class="spending-form">
    <h2>支出登録</h2>
    <%= form_with(model:@income, url:incomes_path, local: true) do |f| %>
      <%= render "share/error_messages", model:@income, model:f.object %>

      <div class="field">
        <%=f.label :ジャンル %>
        <span class="sign_up-label">必須</span><br />
        <%= f.collection_select(:income_category_id, IncomeCategory.all, :id, :name, {}, {class:"spending-select-box"}) %>
      </div>

      <div class="field">
        <%=f.label :金額 %>
        <span class="sign_up-label">必須</span><br />
        <%= f.text_field :price, class:"spending-field" %>
      </div>

      <div class="field">
        <%=f.label :備考 %><br />
        <%= f.text_field :text, class:"spending-field" %>
      </div>

      <div class="action">
        <%= f.submit "収入登録", class:"spending-submit-btn" %>
      </div>
    <% end %>
  </div>

  <div class="spending-back-root-path">
    <%= link_to "トップページ", root_path %>
  </div>

</div>

<%= render "share/footer" %>